@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap";
@import url('http://fonts.cdnfonts.com/css/cocogoose');

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #4d5e96;
  color: #fff;
  width: 100%;
  line-height: 30px;
  position: fixed;
  display: flex;
  box-shadow: 0 10px 10px 0 rgb(36, 38, 43);
  padding: 15px;
  font-weight: bold;
}

.menu-controls {
  display: none;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  margin-left: 20px;
  font-size: 35px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  justify-content: flex-start;
  padding: 15px 10px;
  font-family: "cocogoose", sans-serif;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  line-height: 30px;
}

.nav-list .nav-item {
  list-style: none;
  padding: 0 20px;
  font-weight: bold;
  display: flex;
  font-family: "cocogoose", sans-serif;
}

.nav-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.book-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 30px auto;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 15px;
}

input[type="text"]:focus {
  outline-color: #008057;
}

h1,
h2,
h4 {
  text-align: center;
  color: #4d5e96;
  font-weight: bold;
}

.bookList {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto !important;
  margin-top: 50px;
}

/* Add book btn */
button[type="submit"] {
  color: #4d5e96;
  align-self: flex-end;
  display: block;
  padding: 10px;
  width: auto;
  font-weight: bold;
  border-radius: 4px;
}

button[type="submit"]:hover {
  background-color: #4d5e96;
  color: #fff;
  padding: 12px;
}

.rmv-btn {
  display: flex;
  color: #f00;
  align-self: flex-end;
  position: relative;
  padding: 5px;
  margin-right: 10px;
  border-radius: 50%;
}

.rmv-btn:hover {
  background-color: #f00;
  color: #fff;
  cursor: pointer;
}

/* books styles */
.display-books {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.display-books:nth-child(even) {
  background-color: #c8cbce;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

p {
  padding-left: 20px;
}

/* contact section */
.contact-sect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  line-height: 10px;
  margin: 0 auto;
  width: 400px;
}

.bookShelf {
  width: 80%;
  margin: 80px auto;
  height: 100%;
  padding: 2%;
  line-height: 1.5;
}

.bookShelf p {
  line-height: 1.8;
}

.addBook {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.show-time {
  text-align: right;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #fff;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  bottom: 0;
  position: fixed;
  font-weight: bold;
  background-color: #4d5e96;
  color: #fff;
}

.conatc-section {
  text-decoration: underline;
  font-weight: bold;
}

.show-menu {
  display: flex;
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    margin-top: 20px;
    justify-content: flex-start;
  }

  .menu-controls .fa-close {
    display: none;
  }

  .menu-controls .fa-close:hover {
    cursor: pointer;
  }

  .menu-controls .menu-bar:hover {
    cursor: pointer;
  }

  .menu-controls {
    display: flex;
    padding: 15px 10px;
  }

  .show-menu {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }

  .bookShelf {
    width: 100%;
    margin: 80px auto;
    height: 100%;
    padding: 5%;
    line-height: 1.5;
  }

  .book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 30px auto;
  }

  .nav-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .nav-item {
    margin-top: 20px;
  }

  .nav-item:hover {
    cursor: pointer;
  }

  header {
    z-index: 99;
  }
}
