* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  background-color: #008080;
  color: #fff;
  width: 100%;
  line-height: 30px;
  position: fixed;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 50px;
}

.nav-list .nav-item {
  list-style: none;
  padding: 0 15px;
  font-weight: bold;
}

.nav-item:hover {
  cursor: pointer;
  text-decoration: underline;
  transform: scale(1.2);
}

.book-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 30px auto;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 15px;
}

input[type="text"]:focus {
  outline-color: #008057;
}

h1,
h2,
h4 {
  text-align: center;
}

.bookList {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto !important;
  margin-top: 50px;
}

/* Add book btn */
button[type="submit"] {
  color: #008057;
  align-self: flex-end;
  display: block;
  padding: 5px;
  width: auto;
  font-weight: bold;
  border-radius: 4px;
}

.rmv-btn {
  height: 30px;
  color: #f00;
  align-self: center;
  margin-right: 0 !important;
}

.rmv-btn:hover {
  transform: scale(1.1);
}

/* books styles */
.display-books {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.display-books:nth-child(even) {
  background-color: #eceff3;
}

p {
  padding-left: 20px;
}

/* contact section */
.contact-sect {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  line-height: 10px;
}
